




@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@model Entities.Entities.Ticket

@{
    ViewData["Title"] = "submit Ticket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="dx-box-5 pb-100 bg-grey-6">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7">
                <div class="dx-box dx-box-decorated">
                    <div class="dx-box-content">



                        <h2 class="h6 mb-6">@localizer["Submit_a_ticket"]</h2>


                        <!-- START: Breadcrumbs -->
                        <ul class="dx-breadcrumbs text-left dx-breadcrumbs-dark mnb-6 fs-14">

                            <li><a href="help-center.html">@localizer["Support_Home"]</a></li>


                            <li><a href="ticket.html">@localizer["Ticket System"]</a></li>

                            <li>@localizer["Submit_Ticket"]</li>


                        </ul>
                        <!-- END: Breadcrumbs -->

                    </div>
                    <div class="dx-separator"></div>
                    <form asp-action="addTicket" asp-controller="Tickets" method="post" enctype="multipart/form-data" class="dx-form">
                        <div class="dx-box-content">
                            <div class="dx-form-group">
                                <label for="select-product" class="mnt-7">@localizer["Select_Type"]</label>
                                <select class="form-control dx-select-ticket" asp-for="relatedProductRefId">



                                    @foreach (var item in ViewBag.ClientProducts)
                                    {

                                        <option value=@item.refId data-content='<img src=@Url.Content(item.imgUrl) alt=""> @item.name'></option>

                                    }


                                </select>
                            </div>

                        </div>
                        <div class="dx-separator"></div>

                        <div class="dx-box-content">
                            <div class="dx-form-group">
                                <label asp-for="ticketTitle" class="mnt-7"></label>
                                <input type="text" asp-for="ticketTitle" class="form-control form-control-style-2" placeholder=@localizer["Enter_Subject"]>
                                <span asp-validation-for="ticketTitle" class="text-danger"></span>
                            </div>
                            <div class="dx-form-group">
                                <label asp-for="ticketDescription" class="mnt-7"></label>
                                <textarea asp-for="ticketDescription" class="form-control form-control-style-2" placeholder=@localizer["Description"]></textarea>
                                <span asp-validation-for="ticketDescription" class="text-danger"></span>




                                @* <div class="dx-editor-quill">
                                        <div class="dx-editor" data-editor-height="150" data-editor-maxHeight="250"></div>

                                    </div>*@



                            </div>


                            <div class="dx-form-group">
                               
                                <div class="input-group mb-3">
                                    <input type="file" asp-for="uploadedFileFile" class="custom-file-input" />
                                    <label class="custom-file-label">Choose file</label>
                                </div>

                            </div>


                            <div class="dx-box-content" style="justify-content: space-between;display: flex;">
                                <a asp-action="Index" asp-controller="Home" class="btn btn-outline-danger btn-sm mr-10"><i class="far fa-times-circle"></i>&nbsp;Cancel</a>
                                <button type="submit" class="btn btn-primary btn-sm ml-30"><i class="far fa-save"></i>&nbsp;Submit ticket</button>
                            </div>



                         
                        </div>
                    </form>









                </div>
            </div>
        </div>
    </div>
</div>


