



@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model Entities.Entities.Reply
@using Entities.Entities



@{
    ViewData["Title"] = "singleTicketInfo";
}

<script>

    $(function () {
        var placeholder = $('#placeholder');
        $('a[data-toggle="closeTicket"]').click(function (event) {

            var url = $(this).data('url');
            $.get(url).done(function (data) {
                placeholder.html(data);
                placeholder.find('.modal').modal('show');
            })


        })

    })

</script>

<div id="placeholder"></div>

<div class="dx-separator"></div>

<div class="dx-box-5 pb-100 bg-grey-6">
    <div class="container">
        <div class="row vertical-gap md-gap">
            <div class="col-lg-8">
                <div class="dx-box dx-box-decorated">
                    <div class="dx-blog-post dx-ticket ">
                        <div class="dx-blog-post-box pt-30 pb-30">
                            <h2 class="h4 mnt-5 mb-9 dx-ticket-title">@ViewBag.Ticket.ticketTitle</h2>


                            <!-- START: Breadcrumbs -->
                            <ul class="dx-breadcrumbs text-left dx-breadcrumbs-dark mnb-6 fs-14">

                                <li><a asp-action="Index" asp-controller="Home">Support Home</a></li>


                                <li><a asp-action="Index" asp-controller="Tickets">Ticket System</a></li>

                                <li>@ViewBag.Ticket.ticketTitle</li>


                            </ul>
                            <!-- END: Breadcrumbs -->



                            <span class="dx-ticket-status">

                                @ViewBag.Ticket.ticketStatut
                                <span>
                                    &nbsp;&nbsp;
                                </span>
                                @if (ViewBag.Ticket.ticketStatut != Ticket.TicketStatus.Closed)
                                {
 
                                    <a class="btn btn-sm btn-outline-info" href="#" data-toggle="closeTicket" data-target="#closeTicket" data-url="@Url.Action("closeTicket","Tickets",new { ticketId = ViewBag.Ticket.ticketId })">
                                        <i class="fas fa-lock"></i>&nbsp;Close Ticket
                                    </a>


                                }
                            </span>

                        </div>
                        <div class="dx-separator"></div>

                        <div style="background-color: #fafafa;">

                            <ul class="dx-blog-post-info dx-blog-post-info-style-2 mb-0 mt-0">
                                <li><span><label class="dx-blog-post-info-title">id</label># @ViewBag.Ticket.ticketId</span></li>
                                <li><span><label class="dx-blog-post-info-title">status</label>@ViewBag.Ticket.ticketStatut</span></li>
                                <li><span><label class="dx-blog-post-info-title">date de ticket</label>@ViewBag.Ticket.ticketDate</span></li>

                                <li><span><label class="dx-blog-post-info-title">Priority</label>@ViewBag.Ticket.ticketPriority</span></li>
                            </ul>
                        </div>
                        <div class="dx-separator"></div>

                        <div class="dx-comment dx-ticket-comment">
                            <div>
                                <div class="dx-comment-img">
                                    <img src=@Url.Content(ViewBag.Ticket.creator_user.ThumbUrl) alt="user ThumbUrl">
                                </div>
                                <div class="dx-comment-cont">
                                    <a href="#" class="dx-comment-name">@ViewBag.Ticket.creator_user.FirstName @ViewBag.Ticket.creator_user.LastName</a>
                                    <div class="dx-comment-date">@ViewBag.Ticket.ticketDate</div>
                                    <div class="dx-comment-text mb-3">
                                        <p class="mb-0">@ViewBag.Ticket.ticketDescription</p>
                                    </div>


                                    @if (!string.IsNullOrEmpty(ViewBag.Ticket.uploadedFile))
                                    {

                                        @await Component.InvokeAsync("TicketAttatchment", ViewBag.Ticket.uploadedFile)
                                    }
                                </div>
                            </div>
                        </div>



 

                        <div class="dx-separator mnt-1"></div>
                        @if (ViewBag.ticketReplies != null)
                        {
                            @foreach (var item in ViewBag.ticketReplies)
                            {
                                <div class="dx-comment dx-ticket-comment  ">
                                    <div>
                                        <div class="dx-comment-img">
                                            <img src="@Url.Content(item.replyOwner.ThumbUrl)" alt="replier img">
                                        </div>
                                        <div class="dx-comment-cont">
                                            <a href="#" class="dx-comment-name">
                                                @item.replyOwner.FirstName @item.replyOwner.LastName

                                            </a>
                                            <div class="dx-comment-date">@item.reply_date</div>
                                            <div class="dx-comment-text">
                                                <p>@item.content</p>
                                            </div>
                                            @if (!string.IsNullOrEmpty(item.r_uploadedFile))
                                            {

                                                @await Component.InvokeAsync("TicketAttatchment", item.r_uploadedFile)
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="dx-separator mnt-1"></div>


                            }
                        }








                        <div class="dx-separator mnt-1"></div>


                        @if (ViewBag.Ticket.ticketStatut != Ticket.TicketStatus.Closed)
                        {
                            <div class="dx-blog-post-box p-20">

                                <form enctype="multipart/form-data" class="dx-form" asp-action="addReply" asp-controller="Tickets" method="post">

                                    <div class="dx-box-content">

                                        <div class="dx-form-group">
                                            <textarea asp-for="content" class="form-control form-control-style-2" placeholder=@localizer["Description"]></textarea>
                                            <span asp-validation-for="content" class="text-danger"></span>

                                            <input type="hidden" name="replierAdress" value="@User.Identity.Name" />

                                            <input type="hidden" asp-for="TicketId" value="@ViewBag.Ticket.ticketId" />

                                            <input type="hidden" name="asp-action" value="singleTicketInfo" />
                                            <input type="hidden" name="asp-controller" value="Tickets" />
                                            <input type="hidden" name="route" value="" />
 
                                        </div>


                                        <div class="dx-form-group">

                                            <div class="input-group mb-3 mt-3">
                                                <input type="file" accept=".png,.jpg,.jpeg" asp-for="r_uploadedFileFile" class="custom-file-input" />
                                                <label class="custom-file-label">Choose file</label>
                                            </div>

                                        </div>


                                        <div class="dx-box-content" style="display: flex;justify-content: space-around;">
                                            <a asp-action="Index" asp-controller="Home" class="btn btn-outline-danger btn-sm mr-10"><i class="far fa-times-circle"></i>&nbsp;Cancel</a>
                                            <button type="submit" class="btn btn-primary btn-sm ml-30"><i class="fas fa-paper-plane"></i>&nbsp;Send</button>
                                        </div>




                                    </div>


 
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="margin-bottom: -40px;">
                <div class="dx-widget dx-box dx-box-decorated">
                    <form action="#" class="dx-form dx-form-group-inputs">
                        <input type="text" name="" value="" class="form-control form-control-style-2" placeholder="Search...">
                        <button class="dx-btn dx-btn-lg dx-btn-grey dx-btn-grey-style-2 dx-btn-icon"><span class="icon fas fa-search"></span></button>
                    </form>
                </div>


                <div class="dx-widget dx-box dx-box-decorated">
                    <div class="dx-widget-title">
                        Latest Articles
                    </div>
                    <a href="single-article.html" class="dx-widget-link">
                        <span class="dx-widget-link-text">How to manually import Demo data (if you faced with problems in one-click demo import)</span>
                        <span class="dx-widget-link-date">6 Sep 2018</span>
                    </a>
                    <a href="single-article.html" class="dx-widget-link">
                        <span class="dx-widget-link-text">Make menu dropdown working without JavaScript</span>
                        <span class="dx-widget-link-date">2 Sep 2018</span>
                    </a>
                    <a href="single-article.html" class="dx-widget-link">
                        <span class="dx-widget-link-text">Add top menu link inside dropdown on mobile devices</span>
                        <span class="dx-widget-link-date">27 Aug 2018</span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>