

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@model Entities.Entities.Agent

@{
    ViewData["Title"] = "DashBoardAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xl-3 col-md-6">
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder=@localizer["Search_for..."] aria-label=@localizer["Search"] aria-describedby="basic-addon2" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xl-3 col-md-6">
        <a class="dx-btn dx-btn-lg mt-10">@localizer["Add_agent"]</a>
    </div>
</div>


<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        @localizer["agents_Table"]
    </div>
    <div class="card-body" >

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th><label asp-for="Id"></label></th>
                        <th><label asp-for="FirstName"></label> <label asp-for="LastName"></label></th>
                        <th><label asp-for="Email"></label></th>
                        <th><label asp-for="Phone"></label></th>
                        <th><label asp-for="role.roleName"></label></th>
                        <th>@localizer["actions"]</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th><label asp-for="Id"></label></th>
                        <th><label asp-for="FirstName"> and </label><label asp-for="LastName"></label></th>
                        <th><label asp-for="Email"></label></th>
                        <th><label asp-for="Phone"></label></th>
                        <th><label asp-for="role.roleName"></label></th>
                        <th>@localizer["actions"]</th>
                    </tr>
                </tfoot>
                
                <tbody>
                    @foreach (var agent in ViewBag.agentsList)
                    {
                        <tr>
                            <td> @agent.Id</td>
                            <td> @agent.FirstName @agent.LastName</td>
                            <td> @agent.Email</td>
                            <td> @agent.Phone</td>
                            <td> @agent.role.roleName</td>
                            <td><a asp-action="EditAgentPermission" asp-route-mail="@agent.Email" asp-controller="Admin">update info</a></td>



                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
</div>

