

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@model Entities.Entities.Agent

@{
    ViewData["Title"] = "DashBoardAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<script>


    $(function () {
        var placeholder = $('#placeholder');
        $('a[data-toggle="addAgent"]').click(function (event) {

            var url = $(this).data('url');
            $.get(url).done(function (data) {
                placeholder.html(data);
                placeholder.find('.modal').modal('show');
            })


        })

    })

    $(function () {
        var placeholder = $('#placeholder');
        $('a[data-toggle="agentDetails"]').click(function (event) {

            var url = $(this).data('url');
            $.get(url).done(function (data) {
                placeholder.html(data);
                placeholder.find('.modal').modal('show');
            })


        })

    })


</script>




<div id="placeholder"></div>


<div class="row" style="display: flex; justify-content: end;">

    <div class="col-xl-3 col-md-6" style="justify-content: end; display: flex; margin-right: 25px; margin-bottom: 10px;">
        <a data-toggle="addAgent" data-target="#addAgent" data-url="@Url.Action("addAgent")" class="dx-btn dx-btn-lg mt-10">@localizer["Add_agent"]</a>
    </div>
</div>


<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        @localizer["agents_Table"]
    </div>
    <div class="card-body">


        <table class="table align-middle" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr class="table-info table-bordered ">
                    <th><label asp-for="Id"></label></th>
                    <th><label asp-for="FirstName"></label> <label asp-for="LastName"></label></th>
                    <th><label asp-for="Email"></label></th>
                   
                    <th><label asp-for="role.roleName"></label></th>
                    <th><label asp-for="status"></label></th>
                    <th><label>@localizer["actions"]</label></th>
                </tr>
            </thead>
            <tfoot>
                <tr class="table-info table-bordered ">
                    <th><label asp-for="Id"></label></th>
                    <th><label asp-for="FirstName"></label> <label asp-for="LastName"></label></th>
                    <th><label asp-for="Email"></label></th>
                     
                    <th><label asp-for="role.roleName"></label></th>
                    <th><label asp-for="status"></label></th>
                    <th>@localizer["actions"]</th>
                </tr>
            </tfoot>

            <tbody>
                @foreach (var agent in ViewBag.agentsList)
                {
                    <tr>
                        <td> @agent.Id</td>
                        <td> @agent.FirstName @agent.LastName</td>
                        <td> @agent.Email</td>
                     
                        <td> @agent.role.roleName</td>
                        <td> @agent.status</td>
                        <td>
                            <a asp-action="EditAgent" asp-route-mail="@agent.Email" asp-controller="Admin">update info</a>|
                            <a asp-action="EditAgentPermission" asp-route-mail="@agent.Email" asp-controller="Admin">update Permission</a>|
                            <a href="#" data-toggle="agentDetails" data-target="#agentDetails" data-url="@Url.Action("agentdetails","Admin",new { agentMail = agent.Email })">Detail</a>
                        </td>


                    </tr>
                }

            </tbody>
        </table>


    </div>
</div>

