@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@model Entities.Entities.Client

@{
      Layout = "~/Views/Shared/_normalLayout.cshtml"; 
}

 
    <div class="dx-popup-content dx-signin text-center">

        <h1 class="h3 text-white mb-30">@localizer["Sign_Up"]</h1>

        <form class="dx-form" asp-action="Sign_Up" asp-controller="Home" method="post">

            <div class="dx-form-group-md" asp-validation-summary="ModelOnly">

            </div>

            <div class="dx-form-group-md">
                <input type="text" asp-for="FirstName" class="form-control form-control-style-4" placeholder="@Html.DisplayNameFor(m=>m.FirstName)">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="dx-form-group-md">
                <input type="text" asp-for="LastName" class="form-control form-control-style-4" placeholder="@Html.DisplayNameFor(m=>m.LastName)">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="dx-form-group-md">
                <input type="text" asp-for="Email" class="form-control form-control-style-4" placeholder="@Html.DisplayNameFor(m=>m.Email)">

                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="dx-form-group-md">
                <input type="password" asp-for="Password" class="form-control form-control-style-4"
                       placeholder="@Html.DisplayNameFor(m=>m.Password)">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="dx-form-group-md">
                <input type="text" asp-for="Phone" class="form-control form-control-style-4" placeholder="@Html.DisplayNameFor(m=>m.Phone)">
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="dx-form-group-md"> <input type="hidden" asp-for="roleId" value=3 /></div>

            <div class="dx-form-group-md">
                <input type="submit" class="dx-btn dx-btn-block dx-btn-popup" value="@localizer["Sign_Up"]" />
            </div>

        </form>
    </div>

