@model Entities.Entities.Product
<div class="modal fade" id="smt">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                
                <button type="button" class="close" data-dismiss="modal">x</button>

            </div>

            <div class="modal-body">

                <div class="dx-comment dx-ticket-comment p-10" style="display: flex;justify-content: space-around;">

                    <div>
                        <div style=" max-width: 300px; padding: 7px; word-break: break-word;">
                            <h2 class="h4 mnt-5  dx-ticket-title"><u>#@Model.refId</u>&nbsp; @Model.name</h2>
                            <div class="dx-comment-date"><label asp-for="@Model.factoryName"></label> @Model.factoryName</div>
                            <label asp-for="@Model.description"></label>
                            <div class="dx-comment-text">
                                <p class="mb-0">
                                    @Model.description

                                </p>
                            </div>
                            <div class="dx-comment-date"><label asp-for="@Model.price"></label> @Model.price</div>
                            <div class="dx-comment-date"><label asp-for="@Model.dateBuild"></label> @Model.dateBuild</div>
                            <div class="dx-comment-date"><label asp-for="@Model.dateValidate"></label> @Model.dateValidate</div>


                        </div>
                    </div>
                    <div id="div-img-product">

                        @*
                            <a href=@Url.Content(Model.imgUrl) data-fancybox="images" class="dx-gallery-item">
                                <span class="dx-gallery-item-overlay"><span class="icon pe-7s-exapnd2"></span></span>
                                <img src=@Url.Content(Model.imgUrl) class="dx-img" alt="">
                            </a>*@

                        <img src=@Url.Content(Model.imgUrl) alt="some imges" />

                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn-block btn-primary btn-sm" data-dismiss="modal">ok</button> 
            </div>

        </div>


    </div>
</div>