




@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model Entities.Entities.Product

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script>

    //for Product details
    $(function () {
        var placeholder = $('#placeholder');
        $('a[data-toggle="smt"]').click(function (event) {

            var url = $(this).data('url');
            $.get(url).done(function (data) {
                placeholder.html(data);
                placeholder.find('.modal').modal('show');
            })


        })

    })
    //for Adding product popup
    $(function () {
        var placeholder = $('#placeholder');
        $('a[data-toggle="addProduct"]').click(function (event) {

            var url = $(this).data('url');
            $.get(url).done(function (data) {
                placeholder.html(data);
                placeholder.find('.modal').modal('show');
            })


        })

    })

    //for Edit product popup
    $(function () {
        var placeholder = $('#placeholder');
        $('a[data-toggle="editProduct"]').click(function (event) {

            var url = $(this).data('url');
            $.get(url).done(function (data) {
                placeholder.html(data);
                placeholder.find('.modal').modal('show');
            })


        })

    })
    //for Delete product popup
    $(function () {
        var placeholder = $('#placeholder');
        $('a[data-toggle="deleteProduct"]').click(function (event) {

            var url = $(this).data('url');
            $.get(url).done(function (data) {
                placeholder.html(data);
                placeholder.find('.modal').modal('show');
            })


        })

    })


</script>

<div id="placeholder"></div>



<div class="card mb-4">
    <div class="card-header">
        
    <div  style="justify-content: space-between; display: flex; margin-right: 25px; align-items:center; ">
        <div>
            <i class="fas fa-table mr-1"></i>
            @localizer["Product_table"]
        </div>
            <a href="#" data-toggle="addProduct" data-target="#addProduct" data-url="@Url.Action("Create")"
               class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp; @localizer["Add_Product"]</a>
        </div>

    </div>
    <div class="card-body">
        <table class="table align-middle " id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr class="table-info table-bordered ">

                    <th>
                        @Html.DisplayNameFor(model => model.imgUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.factoryName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.category)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr class="table-info table-bordered ">

                    <th>
                        @Html.DisplayNameFor(model => model.imgUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.factoryName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.category)
                    </th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in ViewBag.listProducts)
                {
                    <tr class="align-middle">
                        <td>
                            <a class="dx-ticket-item p-0" style="display: flex;justify-content: center;">
                                <span class="dx-ticket-img"><img src="@Url.Content(item.imgUrl)" alt="itemimg" /></span>
                            </a>


                        </td>
                        <td class="pt-25 pl-15">
                            @item.name
                        </td>

                        <td class="pt-25 pl-15">
                            @item.factoryName

                        <td class="pt-25 pl-15">
                            @item.category
                        </td>
                        <td class="pt-25 pl-15">
                            <a href="#" data-toggle="editProduct" data-target="#editProduct" data-url="@Url.Action("Edit",new { id = item.refId })">Edit</a> |
                            @*<a asp-action="Edit" asp-route-id="@item.refId">Edit</a>*@
                            <a href="#" data-toggle="smt" data-target="#smt" data-url="@Url.Action("Details",new { id = item.refId })">Details</a> |
                            <a href="#" data-toggle="deleteProduct" data-target="#deleteProduct" data-url="@Url.Action("Delete",new { id = item.refId })">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
