
@model Entities.Entities.Product 


@{ Layout = "~/Views/Shared/_NoHeaderLayout.cshtml";}




<header class="dx-header dx-box-5">
    <div class="bg-image bg-image-parallax">
        <img src="@Url.Content(Model.imgUrl)" class="jarallax-img" alt="">
        <div style="background-color: rgba(27, 27, 27, .8);"></div>
    </div>

    <div class="container mnb-8">
        <h1 class="h4 mb-10 text-white text-center">@Model.name</h1>


        <!-- START: Breadcrumbs -->
        <ul class="dx-breadcrumbs text-center">

            <li><a asp-action="index" asp-controller="Home">Home</a></li>
           

            <li><a asp-action="ProductDisplay" asp-controller="Products">Store</a></li>

            <li>@Model.name</li>


        </ul>
        <!-- END: Breadcrumbs -->

    </div>
</header>



<div class="dx-box-5 pb-100 bg-grey-6">
    <div class="container">
        <div class="row vertical-gap md-gap">
            <div class="col-lg-8">
                <div class="dx-box dx-box-decorated">
                    <div class="dx-gallery p-10">
                        <a href=@Url.Content(Model.imgUrl) data-fancybox="images" class="dx-gallery-item">
                            <span class="dx-gallery-item-overlay"><span class="icon pe-7s-exapnd2"></span></span>
                            <img src=@Url.Content(Model.imgUrl) class="dx-img" alt="">
                        </a>
              
                    </div>
 
                    <ul class="nav dx-tab mt-35" role="tablist">
                        <li>
                            <a class="active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
                        </li>

                        <li>
                            <a href="documentation.html">Documentation <span class="icon fas fa-external-link-alt"></span></a>
                        </li>
                        <li>
                            <a href="articles.html">Knowledge Base <span class="icon fas fa-external-link-alt"></span></a>
                        </li>
                    </ul>

                    <div class="dx-blog-post">
                        <div class="dx-blog-post-box">
                            <div class="tab-content dx-tab-content">
                                <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                                    <p class="mnt-5 mb-40">
                                        @Model.description
                                    </p>

                                </div>

                            </div>
                        </div>
                        <div class="dx-separator"></div>
                        <div class="dx-blog-post-box pt-30 pb-30">
                            <ul class="dx-blog-post-info mnt-15 mnb-1">

                                <li>Date: @Model.addedDate</li>

                            </ul>
                            <ul class="dx-social-links dx-social-links-style-2 mt-15">
                                <li>
                                    <a href="#" class="dx-social-twitter"><span class="icon fab fa-twitter"></span> Twitter</a>
                                </li>
                                <li>
                                    <a href="#" class="dx-social-facebook"><span class="icon fab fa-facebook"></span> Facebook</a>
                                </li>
                                <li>
                                    <a href="#" class="dx-social-google"><span class="icon fab fa-google"></span> Google</a>
                                </li>
                                <li>
                                    <a href="#" class="dx-social-pinterest"><span class="icon fab fa-pinterest"></span> Pinterest</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="dx-sticky dx-sidebar" data-sticky-offsetTop="120" data-sticky-offsetBot="40">
                    <div class="d-none d-lg-block mb-40">
                        <div class="row vertical-gap xs-gap justify-content-between">
                            <div class="col">
                                <a asp-action="buyProduct" asp-controller="Products" asp-route-prodRef=@Model.refId class="dx-btn dx-btn-lg dx-btn-block">Buy Now @Model.price</a>
                            </div>
                            <div class="col">
                                <a href="#" class="dx-btn dx-btn-lg dx-btn-dark dx-btn-block">Live Preview</a>
                            </div>
                        </div>
                    </div>


                    <div class="dx-widget dx-box dx-box-decorated">
                        <div class="dx-widget-title">
                            Detail Information
                        </div>
                        <div class="dx-widget-information">
                            <div class="dx-widget-information-title">Reference</div>

                            <span>@Model.refId</span>
                        </div>
                        <div class="dx-widget-information">
                            <div class="dx-widget-information-title">Created</div>

                            <span>@Model.addedDate</span>
                        </div>
                        <div class="dx-widget-information">
                            <div class="dx-widget-information-title">Factory name</div>
                            <span>@Model.factoryName</span>
                        </div>
                        <div class="dx-widget-information">
                            <div class="dx-widget-information-title">Build Date</div>
                            <span>@Model.dateBuild</span>
                        </div>
                        <div class="dx-widget-information">
                            <div class="dx-widget-information-title">Validation date</div>
                            <span>@Model.dateValidate</span>
                        </div>


                    </div>

                </div>
            </div>

        </div>
    </div>
</div>